.main__statistics-title {
    font-family: 'Cuprum',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 101px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin: 0;
}