.main__statistics-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin: 0;
}