.modal__close-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 40px;
    right: 40px;
}

.modal__close-icon:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 1s ease;
}