.main__container {
    display: flex;
    margin-top: 38px;
    margin-left: 446px; 
    margin-bottom: 0px;
    padding-left: 0;
}
@media (min-width : 1024px) and (max-width : 1365px) {
    .main__container {
        margin-left: 40px;
    }
}
@media (max-width : 1023px) {
    .main__container {
        display: none;
    }
}