.main__container {
    display: flex;
    margin-top: 38px;
    margin-left: 446px; 
    margin-bottom: 0px;
    padding-left: 0;
}
@media (max-width : 425px) {
    .main__container {
        display: none;
    }
}