.menu__page-link {
    font-size: 20px;
    font-weight: 400;
    font-family:'Roboto', sans-serif;
    color: #8A93B4;
    line-height: 24px;
    margin-top: 16px;
    text-decoration: none;
}

.menu__page-link:first-child {
    margin-top: 0px;
}

.menu__page-link:hover {
    text-decoration: underline;
    text-decoration-color: red;
    color: white;
}