.modal__paragraph {
    max-width: 520px;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #484848;
    margin-top: 79px;
    margin-bottom: 88px;
}
@media (min-width : 320px) and (max-width : 374px) {
    .modal__paragraph {
        line-height: 21px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
}