.region__major-container {
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1440px;
    margin: 0 auto;
}
@media (min-width : 1024px) and (max-width : 1365px) {
    .region__major-container {
        max-width: 1000px;
    }
}
@media (min-width : 768px) and (max-width : 1023px) {
    .region__major-container {
        max-width: 720px;
        padding-bottom: 20px;
    }
}

@media (max-width : 767px) {
    .region__major-container {
        padding: 0;
        max-width: 327px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}
@media (min-width : 320px) and (max-width : 374px) {
    .region__major-container {
        padding: 0;
        max-width: 300px;
        margin: 0 auto;
    }
}